<a href="https://colab.research.google.com/github/angelamunozc/Talento-tech/blob/main/entrenamiento/Python_inicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Hola mundo   ---- esto es un comentario
print ("Hola mundo")

Hola mundo

In [ ]:
#Variables y tipos de datos
nombre = "Alex"   #entre comillas todo texto...una variable se asigna un valor  sin comillas es un numero---variabloes siempre en minusculas
edad = 20          # se entiende que es un numero entero porque no esta entre comillas
altura_m = 1.77    # ya entiende que es un decimal
es_estudiante = True   #util para toma de decisiones
es_doctor = False

print (type(nombre), type(edad), type (altura_m), type(es_estudiante), type(es_doctor))   # type es para saber que tipo de dato es la variable     stream es una cadena de texto cuando no se necesita hacer operaciones

<class 'str'> <class 'int'> <class 'float'> <class 'bool'> <class 'bool'>

str = cadena de texto
int= entero
float=decimal
bool= bulian ..verdadero y falso

In [ ]:
# operadores matematicos

a, b= 7,3
print ("suma", a+b)
print ("resta", a-b)
print ("multiplicacion", a*b)
print ("division", a/b)
print ("division entera", a//b)
print ("modulo", a%b)   # resiudo de la operacion, saber si el numero es par o impar
print ("potencia", a**b)
print ("¿a > b?", a>b)
print ("¿a < b?", a<b)
print ("¿a >= b?", a>=b)
print ("¿a <= b?", a<=b)
print ("¿a == b?", a==b)
print ("¿a != b?", a!=b)

suma 10
resta 4
multiplicacion 21
division 2.3333333333333335
division entera 2
modulo 1
potencia 343
¿a > b? True
¿a < b? False
¿a >= b? True
¿a <= b? False
¿a == b? False
¿a != b? True

In [ ]:
name = "Angela"
age= 25
city = "Pasto"

print (f"Mi nombre es {name}, tengo {age} años y vivo en {city}.")

Mi nombre es Angela, tengo 25 años y vivo en Pasto.

In [ ]:
name = "Angela"
age= 25
city = "Pasto"

print ("Mi nombre:", name,
       "mi edad es: ", age,
       "mi ciudad es: ",city)

Mi nombre: Angela mi edad es:  25 mi ciudad es:  Pasto

In [ ]:
a, b= 15, 4
print ("suma", a+b , type (a+b))
print ("resta", a-b, type(a-b))
print ("multiplicacion", a*b, type(a*b))
print ("division", a/b , type(a/b))
print ("division entera", a//b, type(a//b))
print ("modulo",a%b, type (a%b) )   #residuo de la division
print ("potencia", a**b, type(a**b))

print (type(a), type(b))

suma 19 <class 'int'>
resta 11 <class 'int'>
multiplicacion 60 <class 'int'>
division 3.75 <class 'float'>
division entera 3 <class 'int'>
modulo 3 <class 'int'>
potencia 50625 <class 'int'>
<class 'int'> <class 'int'>

In [ ]:
frase ="Aprender Pyhon es divertido"

print (frase)
print (frase. upper ())
print (frase.lower ())
print (frase.title ())
print (frase[:8], "|", frase [-9:], "|", frase[8:15], "|", frase[15:17], "|", frase[-12:], "|", frase[-8:], "|", frase[1:-5])    #cada letra es un valor

Aprender Pyhon es divertido
APRENDER PYHON ES DIVERTIDO
aprender pyhon es divertido
Aprender Pyhon Es Divertido
Aprender | divertido |  Pyhon  | es | es divertido | ivertido | prender Pyhon es dive

In [ ]:
#ESTRUCTURA DE DATOS
lista= ["Ana", "Luis", "Sofia"]    # orden y se puede modificar   ej lista de mercado
tupla= ("Ana", "Luis", "Sofia")    #orden pero NO se cambia       ej coordenadas,, ej un menu
set_conjunto= {"Ana", "Luis", "Sofia", "Ana"}  # sin orden y sin duplicados   ej inventario
lista.append ("Diego")

print (lista)
print (tupla)
print (set_conjunto)

['Ana', 'Luis', 'Sofia', 'Diego']
('Ana', 'Luis', 'Sofia')
{'Luis', 'Ana', 'Sofia'}

In [ ]:
compras = ["manzanas", "pan", "leche"]
print ("inicio:" , compras)

compras.append ("huevos")    #agergar al final
compras.insert (1, "bananos")   #insertar en la posicion 1 bananos---no sobreescribe
print ("despues de agregar:", compras)

compras [0] = "peras"           #cambiar un elemento...cambia manzana que esta en la posicion 0 por peras---si sobreescribe
quitado =compras.pop ()           #sacar el ultimo
print ("cambiado y quitado:", compras, "|  salio:", quitado)

#slices (rebanadas): partes de la lista
print ("primeros dos:", compras [:2])
print ("ultimos dos:", compras [-2:])

inicio: ['manzanas', 'pan', 'leche']
despues de agregar: ['manzanas', 'bananos', 'pan', 'leche', 'huevos']
cambiado y quitado: ['peras', 'bananos', 'pan', 'leche'] |  salio: huevos
primeros dos: ['peras', 'bananos']
ultimos dos: ['pan', 'leche']

In [ ]:
compras = ["jamon", "pan", "queso", "maracuya", "fresas"]
print ("inicio:" , compras)

compras.insert (0, "guanabana")   #insertar en la posicion 0 guanabana---no sobreescribe
print ("despues de agregar:", compras)

quitado =compras.pop ()           #sacar el ultimo
print ("Quitado:", compras, "|  salio:", quitado)

#slices (rebanadas): partes de la lista
print ("tres del medio:", compras [1:4])   #mostrar los 3 del medio

inicio: ['jamon', 'pan', 'queso', 'maracuya', 'fresas']
despues de agregar: ['guanabana', 'jamon', 'pan', 'queso', 'maracuya', 'fresas']
Quitado: ['guanabana', 'jamon', 'pan', 'queso', 'maracuya'] |  salio: fresas
tres del medio: ['jamon', 'pan', 'queso']

In [ ]:
# para saber si el dato existe en un conjunto de datos o no

a = {"futbol", "natacion", "ajedrez"}
b = {"ajedrez", "basquet", "atletismo"}

print ("union:", a | b)
print ("interseccion:", a & b)
print ("diferencia:", a - b)   #solo a
print ("diferencia simetrica:", a ^ b)

union: {'basquet', 'futbol', 'atletismo', 'ajedrez', 'natacion'}
interseccion: {'ajedrez'}
diferencia: {'futbol', 'natacion'}
diferencia simetrica: {'basquet', 'atletismo', 'futbol', 'natacion'}